<template name="home">
	<div class="jumbotron">
		<h1>Talinda da Verdade</h1>
		<!-- <p>Tabela, talinda, tá aqui na sua mão!</p> -->
	</div>

	<div class="container">
		{{> logicForm}}
		{{> truthTable}}		
	</div>
</template>

<template name="logicForm">
	<form id="expForm">
		<label>
			Expressão
			<input name="expression" class="form-control" id="exp" value="p -> (p -> ~r) <-> q OU r" type="text">
		</label>
		<button class="btn btn-primary" type="submit">Criar tabela</button>	
	</form>
</template>

<template name="truthTable">
	<h1>{{logicExp}}</h1>
	<p class="lead">{{condition}}</p>
	<table class="table table-striped">
		<thead>
			<tr>
				{{#each propositions}}
					<th>{{this}}</th>	
				{{/each}}

				{{#each subExpressions}}
					<th>{{this}}</th>
				{{/each}}
			</tr>
		</thead>
		<tbody>
			{{#each tableRows}}
				<tr>
					{{#each this}}
					<td>{{this}}</td>
					{{/each}}
				</tr>
			{{/each}}
		</tbody>
	</table>
</template>
