<template name="home">
	<div class="jumbotron app-banner">
		<h1>> talinda da verdade</h1>
		<!-- <p>Tabela, talinda, tá aqui na sua mão!</p> -->
	</div>
		
	<div class="expr-form-container">
		{{> logicForm}}		
	</div>

	<div class="container">

		{{> truthTable}}		
	</div>
</template>

<template name="logicForm">
	<form id="expForm">
		<h3>expressão</h3>

		<div class="row">
			<div class="col-md-12">
				<input name="expression" class="app-form-control app-input-lg" id="exp" value="p -> (p -> ~r) <-> q OU r" type="text">
			</div>
		</div>

		<div class="row form-group">
			<div class="col-md-12">
				<button class="app-form-btn" type="submit">gerar tabela</button>	
			</div>
		</div>
	</form>
</template>

<template name="truthTable">
	<h1>{{logicExp}}</h1>
	<p class="lead">{{condition}}</p>
	<table class="table table-striped">
		<thead>
			<tr>
				{{#each propositions}}
					<th>{{this}}</th>	
				{{/each}}

				{{#each subExpressions}}
					<th>{{this}}</th>
				{{/each}}
			</tr>
		</thead>
		<tbody>
			{{#each tableRows}}
				<tr>
					{{#each this}}
					<td>{{this}}</td>
					{{/each}}
				</tr>
			{{/each}}
		</tbody>
	</table>
</template>
